# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

*.o
*.obj
*.out
*.exe
*.a
*.lib
*.so
*.dll
*.dylib

build/
bin/
obj/
out/
cmake-build-debug/
cmake-build-release/

CMakeCache.txt
CMakeFiles/
CMakeScripts/ ;
cmake_install.cmake
Makefile

.vscode/
.vs/
.idea/
*.user
*.suo
*.sln

model/

vosk*

VoiceInteraction/model_nlu/nlu_model.onnx